<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="workspace">
  <test thread-count="6" name="avileap">
    <classes>
      <class name="testing.Testng1"/>
      <class name="testing.testng2"/>
      </classes>
     
     </test>
     
  <test thread-count="8" name="testing">
      
      <classes>
      
      <class name="testing.Testng3">
      
      <methods>
      
     <exclude name="bike"/>
     
     
    
      
      
      </methods>
      </class>
      
    </classes>
    </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
